fastapi
uvicorn
pymongo
python-jose
datetime
passlib
pydantic==2.6.3
pydantic-settings==2.2.1
pydantic_core==2.16.3
transformers
numpy
gunicorn
python-multipart
nltk
keras
nltk==3.6.3
tensorflow
openai
autocorrect
typing
google-generativeai
jsonschema
dotenv